{% extends 'base.html' %}
{% block content %}
<h1>Liste des utilisateurs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'user_detail' user_id=user.id %}" class="btn btn-info btn-sm">
                    <i class="fa fa-eye"></i> Voir
                </a>
                {% if is_admin %}
                    <a href="{% url 'admin_change_password' user_id=user.id %}" class="btn btn-warning btn-sm">
                        <i class="fa fa-key"></i> Modifier le mot de passe
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}